@font-face {
    font-family: "PTSans";
    src:
        url("../fonts/ptsans.woff2") format("woff2"),
        url("../fonts/ptsans.woff") format("woff");
    font-weight: normal;
}

@font-face {
  font-family: "PTSans";
  src:
      url("../fonts/ptsansbold.woff2") format("woff2"),
      url("../fonts/ptsansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src:
      url("../fonts/cuprum.woff2") format("woff2"),
      url("../fonts/cuprum.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src:
      url("../fonts/cuprumbold.woff2") format("woff2"),
      url("../fonts/cuprumbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src:
      url("../fonts/cuprumitalic.woff2") format("woff2"),
      url("../fonts/cuprumitalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Cuprum";
  src:
      url("../fonts/cuprumbolditalic.woff2") format("woff2"),
      url("../fonts/cuprumbolditalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

:root {
    --basic-black: #000000;
    --basic-white: #ffffff;
    --basic-red: #EE3643;
    --basic-red-dark: #BA2732;
    --basic-green: #63A63E;
    --basic-green-light: #5FBB2D;
    --basic-green-dark: #518534;
    --basic-navy: #3D546F;
    --basic-navy-dark: #1D2739;
    --basic-grey: #C5C5C5;

    --navy-light: #32425C;
    --navy-medium: #293449;
    --navy-dark: #161D29;

    --main-ttl-background: #F2F6F8;
    --filters-background: #F7F3EC;
    --section-ttl-background: #F9F5F0;

    --border-grey: #EAEAEA;
    
    --basic-background: #F1F5F7;
    --footer-link: #FFD180;
    
    --del-text: #A9A9A9;

    --box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    --tabs-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
    --tabs-active-shadow: 0px 1px 0px #FFFFFF, inset 0px 1px 0px #FFFFFF;

    --banner-orange: #FFBF47;
    --banner-orange-dark: #FFC047;
    --banner-blue: #3BBCE3;
    --banner-purple: #DC91D8;
    --banner-green: #8ED78F;
}

body {
  min-width: 940px;
  margin: 0;
  padding: 0;
  font-family: "PTSans", Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 
    min-content
    1fr
    min-content;
  align-content: start;
}

.main-header {
  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.main-header__top {
  background-color: var(--navy-medium);
}

.main-header__top a {
  color: var(--basic-white);
}

.wrapper {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header__wrapper {
  display: flex;
}

.logo {
  position: relative;
  display: block;
  width: 220px;
  padding-top: 12px;
  padding-bottom: 5px;
  background-color: var(--basic-red);
  text-align: center;
}

.logo--footer {
  padding-top: 20px;
  padding-bottom: 15px;
}

.logo::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 5px;
  bottom: -5px;
  left: 0;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.logo:active {
  background-color: var(--basic-red-dark);
}

.logo:active::after {
  background-color: var(--basic-red-dark);
}

.search {
  width: 270px;
  height: 100%;
  padding-left: 43px;
  background-color: transparent;
  border: none;
  color: var(--basic-white);
}

.search::placeholder {
  color: var(--basic-white);
}

.search:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
  outline: none;
}

.search:focus::placeholder {
  color: var(--basic-black);
}

.main-header__markers,
.main-header__basket {
  position: relative;
  padding-left: 23px;
}

.main-header__markers:active,
.main-header__basket:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: var(--navy-dark);
}

.main-header__markers:before,
.main-header__basket:before {
  content: "";
  position: absolute;
  top: 13px;
  left: 20px;
  display: block;
  opacity: 0.3;
}

.main-header__markers:hover:before,
.main-header__basket:hover:before {
  opacity: 1;
}

.main-header__markers:active:before,
.main-header__basket:active:before {
  opacity: 0.3;
}

.main-header__markers:before {
  width: 14px;
  height: 16px;
  background-image: url("../img/icon-bookmark.svg");
}

.main-header__basket:before {
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
}

.main-header__make-order {
  background-color: var(--basic-green);
}

.main-header__make-order:hover {
  background-color: var(--basic-green-light);
}

.main-header__make-order:active {
  color: rgba(255, 255, 255, 0.5);
}

.main-header__markers,
.main-header__basket,
.main-header__make-order {
  display: flex;
  flex-basis: 150px;
  justify-content: center;
  align-items: center;
}

.main-header__body {
  background-color: var(--basic-background);
}

.main-header__body .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 45px;
  padding-bottom: 60px;
}

.main-header__main-nav {
  width: 100%;
}

.main-header__title {
  margin: 0;
  padding-left: 30px;
  max-width: 230px;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
}

.main-header__phone-number {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
  border: 3px solid var(--basic-white);
}

.main-header__adress {
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  color: var(--navy-light);
}

.main-header__log-in,
.main-header__sign-up {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.main-header__log-in:hover,
.main-header__sign-up:hover {
  color: var(--basic-red);
}

.main-header__log-in:active,
.main-header__sign-up:active,
.main-header__profile-link:active {
  color: var(--basic-grey);
}

.main-header__authorization-links {
  background-color: var(--basic-white);
}

.main-header__profile-link {
  color: var(--basic-black);
  font-size: 21px;
  line-height: 21px;
}

.main-header__auth-menu {
  list-style: none;
}

.main-header__auth-menu-point a {
  font-size: 16px;
  line-height: 18px;
  color: var(--navy-light);
}

.main-header__auth-menu-point a:hover {
  color: var(--basic-red);
}

.main-header__auth-menu-point a:active {
  color: var(--basic-grey);
}

.main-nav {
  list-style: none;
  background: var(--navy-light);
  box-shadow: inset 0px -5px 0px var(--navy-medium);
}

.main-nav-link {
  color: var(--basic-white);
}

.main-nav-link:hover {
  background: var(--navy-medium);
}

.main-nav-link:active {
  background: var(--basic-navy-dark);
}

.main-ttl {
  font-family: "Cuprum";
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.company-contacts-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
  padding-bottom: 70px;
}

.about-company {
  width: 480px;
}

.contacts {
  width: 300px;
}

.about-company__list {
  list-style: none;
  font-family: "Cuprum";
  font-size: 18px;
  line-height: 24px;
}

.main-footer {
  color: var(--basic-white);
  font-family: Cuprum;
}

.main-footer__top {
  font-size: 18px;
  line-height: 24px;
  background-color: var(--navy-light);
}

.main-footer__top .wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.main-footer__bottom {
  font-size: 16px;
  line-height: 18px;
  background-color: var(--navy-medium);
}

.main-footer__bottom .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 35px;
  padding-bottom: 35px;
}

.main-footer__menu {
  list-style: none;
  flex-basis: 60%;
}

.main-footer__menu--info a {
  color: var(--basic-white);
}

.main-footer__menu--catalog a {
  color: var(--footer-link);
}

.main-footer__menu-item a:hover {
  text-decoration: underline;
}

.main-footer__menu-item a:active {
  opacity: 0.5;
}

.main-footer__address {
  font-weight: normal;
  font-style: normal;
}

.main-footer__copyrights {
  max-width: 230px;
}

.main-footer__contact-links {
  display: flex;
}

.main-footer__contact-links p{
  max-width: 140px;
}

.main-footer__contact-links p:first-child {
  margin-right: 50px;
}

.main-footer__email,
.main-footer__made-by-link {
  color: var(--footer-link);
}

.main-footer__email:hover,
.main-footer__made-by-link:hover {
  text-decoration: underline;
}

.main-footer__email:active,
.main-footer__made-by-link:active {
  color: var(--basic-red);
}

.social-media {
  list-style: none;
}

.social-media__link {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #212A3A;
  background-position: center center;
  background-repeat: no-repeat;
}

.social-media__link:hover,
.social-media__link:active {
  background-color: var(--basic-red);
}

.social-media__link--vkontakte {
  background-image: url("../img/icon-vk.svg");
}

.social-media__link--facebook {
  background-image: url("../img/icon-fb.svg");
}

.social-media__link--instagram {
  background-image: url("../img/icon-insta.svg");
}

.breadcrumbs {
  grid-column-start: 1;
  grid-column-end: -1;
  list-style: none;
  text-transform: uppercase;
}

.breadcrumbs__item a {
  color: var(--basic-black);
}

.breadcrumbs__item:first-child a {
  display: block;
  width: 15px;
  height: 12px;
  background-image: url("../img/icon-home.svg");
  color: var(--basic-black);
}

.main-wrapper {
  display: grid;
  grid-template-columns: 220px 1fr;
  column-gap: 20px;
}

.main-page-ttl {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  background-color: var(--main-ttl-background);
  font-family: Cuprum;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--navy-light);
}

.main__ttl {
  grid-column-start: 1;
  grid-column-end: -1;
}

.catalog-filter__ttl {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--filters-background);
}

.catalog-filter__group {
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.catalog-filter__show-btn {
  background: var(--basic-white);
  border: 1px solid var(--basic-background);
}

.catalog-sort-by {
  text-transform: uppercase;
  background-color: var(--filters-background);
}

.catalog-sort-by__ttl {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
}

.product-preview-card {
  width: 220px;
  margin-right: 20px;
  margin-bottom: 18px;
  border: 1px solid var(--border-grey);
}

.catalog-list .product-preview-card:nth-of-type(3n) {
  margin-right: 0;
}

.product-preview-card:hover {
  box-shadow: var(--box-shadow);
}

.product-preview-card__label {
  font-family: Cuprum;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.product-preview-card__buy-link {
  position: relative;
  background-color: var(--basic-green);
  box-shadow: inset 0px -3px 0px #367315;
  border-radius: 2px;
  color: var(--basic-white);
  text-align: center;
  text-transform: uppercase;
}

.product-preview-card__buy-link:hover {
  background-color: var(--basic-green-light);
}

.product-preview-card__buy-link:active {
  background-color: var(--basic-green-dark);
}

.product-preview-card__marked-btn {
  background-color: var(--basic-white);
  border: 3px solid var(--basic-green);
  border-radius: 2px;
  color: var(--navy-light);
  text-align: center;
  text-transform: uppercase;
}

.product-preview-card__marked-btn:hover {
  border-color: var(--navy-light); 
}

.product-preview-card__marked-btn:active {
  border-color: var(--navy-light);
  opacity: 0.5;
}

.product-preview-card__ttl {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
}

.product-preview-card__price-before,
.product-preview-card__price {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
}

.product-preview-card__price-before {
  color: var(--del-text);
}

.product-preview-card__price {
  background-color: var(--basic-red);
  color: var(--basic-white);
}

.visual-catalog__section {
  position: relative;
  font-family: Cuprum;
}

.visual-catalog__section--materials {
  background-color: var(--banner-orange);
}

.visual-catalog__section--tools {
  background-color: var(--banner-blue);
}

.visual-catalog__section--equipment {
  background-color: var(--banner-purple);
}

.visual-catalog__section--discounts {
  background-color: var(--banner-green);
}

.visual-catalog__section--delivery {
  background-color: var(--banner-orange-dark);
}

.visual-catalog__ttl {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-white);
}

.visual-catalog__section--new::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 70px;
  height: 70px;
  background-image: url("../img/new-banner-label.svg");
  background-repeat: no-repeat;
}

.visual-catalog__link {
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
}

.visual-catalog__link:hover {
  background-color: rgba(197, 197, 197, 0.3);
}

.visual-catalog__link:active {
  background-color: rgba(169, 169, 169, 0.3);
}

.promo-banner {
  position: relative;
}

.promo-banner__header,
.promo-banner__catalog-link,
.section-slider__btn {
  position: absolute;
}

.promo-banner__header {
  top: 0;
  left: 0;
}

.promo-banner__catalog-link {
  bottom: 20px;
  left: 20px;
}

.section-slider {
  position: relative;
}

.section-slider__btn {
  top: calc(50% - 20px);
  width: 22px;
  height: 40px;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  text-indent: -9999px;
  z-index: 10;
}

.section-slider__btn--previous {
  left: 24px;
  background-image: url("../img/icon-left.svg"); 
}

.section-slider__btn--next {
  right: 24px;
  background-image: url("../img/icon-right.svg"); 
}

.section-header {
  background-color: var(--section-ttl-background);
}

.popular-producers-list {
  list-style: none;
}

.popular-producers-list__logo {
  display: block;
  border: 1px solid var(--border-grey);
}

.popular-producers-list__logo:hover {
  box-shadow: var(--box-shadow);
}

.popular-producers-list__logo:active {
  box-shadow: var(--box-shadow);
  opacity: 0.5;
}

.services-ttl {
  font-family: Cuprum;
  font-weight: normal;
  font-size: 36px;
  line-height: 24px;
  color: var(--navy-light);
}

.services__tabs {
  list-style: none;
}

.services__tab-btn {
  background-color: var(--navy-light);
  box-shadow: var(--tabs-shadow);
  border: none;
  font-family: Cuprum;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-white);
}

.services__tab-btn:not(.services__tab-btn--active):hover {
  outline: none;
  background-color: var(--navy-medium);
}

.services__tab-btn--active {
  background-color: var(--basic-white);
  box-shadow: var(--tabs-active-shadow);
  color: var(--navy-light);
}

.services {
  background: var(--basic-background);
}

.about-current-products {
  padding-top: 64px;
  padding-bottom: 68px;
  background: var(--basic-background);
}

.catalog-filter__group {
  border: none;
}

.catalog-filter__list {
  list-style: none;
}

.pagination-list {
  list-style: none;
}

.pagination-list a {
  color: var(--basic-black);
}

.pagination-list__item a {
  display: block;
  border: 1px solid var(--border-grey);
  border-radius: 2px;
}

.pagination-list__item a:hover {
  border: 1px solid var(--basic-grey);
}

.pagination-list__item a:active {
  border: 1px solid var(--basic-red);
}

.pagination-list__item--current a,
.pagination-list__item--current a:hover,
.pagination-list__item--current a:active {
  border: 1px solid var(--basic-red);
  background-color: var(--basic-red);
  color: var(--basic-white);
}

.red-button {
  background-color: var(--basic-red);
  font-family: "Cuprum";
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-align: center;
  text-transform: uppercase;
}

.red-button:active {
  background-color: var(--basic-red-dark);
}

.place-order-popup,
.popup-map,
.successful-cart-popup {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
